* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5FC;
}

.header {
    width: 31.09px;
    height: 48px;
    position: absolute;
    left: 5.5%;
    top: 5%;
}

.encriptador {
    position: absolute;
    left: 15%;
    right: 41.5%;
    top: 20%;
    bottom: 72px;
    /* background-color: rgb(255, 198, 198); */
}

#textarea_Encriptador {
    position: absolute;
    width: 94%;
    height: 60%;
    resize: none;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    color: #0A3871;
    border-radius: 1%;
    border-style: none;
    background-color: rgb(233, 243, 255);
    padding: 20px;
}

#textarea_Encriptador:focus {
    outline: none; 
    border-style: solid;
    border-color: #0A3871;
    background-color: rgb(233, 243, 255); 
}

#textarea_Encriptador::placeholder {
    color: #0A3871;
    font-size: 0.8em;
}

#alert {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 65%;
    font-family: 'Inter', sans-serif;
    font-size: 0.8em;
}

#alert_text {
    padding-left: 6px;
    color: #495057;
}

.boton_1 {
    position: absolute;
    margin-top: 70%;
    font-size: 1em;
    width: 48%;
    height: 12%;
    border-radius: 24px;
    border-style: none;
    background-color: #0A3871;
    color: white;
}

.boton_1:hover {
    cursor: pointer;
}

.boton_2 {
    position: absolute;
    margin-top: 70%;
    right: 0px;
    font-size: 1em;
    width: 48%;
    height: 12%;
    border-radius: 24px;
    border-style: solid;
    background-color: #D8DFE8;
    color: #0A3871;
    border-width: 1px;
    border-color: #0A3871;
}

.boton_2:hover {
    cursor: pointer;
}

.desencriptador {
    position: absolute;
    left: 65%;
    right: 15%;
    top: 5%;
    bottom: 10%;
    /* background-color: rgb(255, 198, 198);  */
}

#divDesencriptador {
    width: 100%;
    height: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    color: #0A3871;
    border-radius: 25px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#divDesencriptador:focus {
    outline: none; 
}

#divDesencriptador{
    padding-top: 50%;
    overflow: auto;
    word-wrap: break-word;
}


#muñeco{
    position: relative;
    width: 268.8px;
    height: 243.2px;
}

#titulo{
    color: #343A40;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

#descripcion{
    color: #495057;
    font-size: 13px;
    text-align: center;
    font-weight: 100;
}

.boton_3{

    display: none;
    position: absolute;
    margin-top: -40%;
    left: 9%;
    font-size: 1em;
    width: 95%;
    height: 11%;
    border-radius: 24px;
    border-style: solid;
    background-color: #D8DFE8;
    color: #0A3871;
    border-width: 1px;
    border-color: #0A3871;
}

.boton_3:hover {
    cursor: pointer;
}
